<p>Thank you for creating an account! Click the url below to activate your account:</p>

<p>
<%= link_to('Activate here',  @account_activation_url) %> </p>

<p>If the above URL does not work try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us at feedback@crdata.org.</p>
