<p>Thank you for your donation. </p>
<p>
CRdata will now run a series of tests using the donated node.
<br>
If all goes well you will be sent a notification email when the donated node will become active on CRdata.
</p>
