<div id="footer"><div class="inside">
	<ul>
		<li><%= link_to("Users' Blog", 'http://crdata.blogspot.com') %></li>	
  	<li><%= link_to('About Us', about_path) %></li>
		<li><%= link_to('Privacy Policy', privacy_path) %></li>
		<li><%= link_to('MIT License', 'http://www.opensource.org/licenses/mit-license.php') %></li>
	</ul>
	
</div></div>