<% content_for(:intro) do %>
<h1>About Us</h1>
<% end -%>

<% content_for(:content) do %>
  <p>The development of <a href='http://www.crdata.org'>CRdata.org</a> was supported in part by the <a href='http://www.nhlbi.nih.gov/index.htm'>National Heart Lung and Blood Institute's Exploratory Program in Systems Biology (R33)</a> via grant number HL089102 to Hamid Bolouri, <a href='http://www.biology.caltech.edu/'>Division of Biology, California Institute of Technology</a> (link to project <a href='http://www.its.caltech.edu/~tcellgrn/'>web site</a>).</p>
  <p> CRdata was conceived by <a href='http://www.its.caltech.edu/~hbolouri/'>Hamid Bolouri</a> and developed by Michael Angerman and Rajiv Dulepet with code contributions by <a href='http://www.sparktechsoft.com'>SparkTech Software</a>, and Bioconductor contributions by  Dr. Martin Morgan of the <a href='http://www.fhcrc.org/'>Fred Hutchinson Cancer Research Center</a>.</p>
<% end -%>
