<% content_for(:content) do %>
	<h2>Privacy Policy</h2>
	<p>Registered users of CRdata.org can restrict access to any data or R scripts they upload. CRdata will not share the content of such files with others unless legally obliged to do so. CRdata.org will not share usernames or passwords with anyone else unless legally obliged to do so. </p>
<% end -%>